  body,
  h3 {
    font-family: "Montserrat", sans-serif
  }

  .w3-row-padding img {
    margin-bottom: 12px
  }

  .w3-sidebar {
    width: 120px;
    background: #222;
  }

  #main {
    margin-left: 120px
  }

  @media only screen and (max-width: 600px) {
    #main {
      margin-left: 0
    }
  }
